body{
    background-color: black;
}
.coluna1{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 40px;
}
.coluna2{
    font-size: 20px;
    color: rgb(57, 236, 8);
    margin-top: 43px;
    background-color: #44CF2880;
    opacity:0.6;
    width: 50px;
    height: 30px;
    border-radius: 10px;

}
.coluna3{
   color: rgb(59, 252, 0);
   margin-top: 46px;
   font-size: 11px;
   
}
.conteiner{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 15fr;
}
.ponto{
    color: white;
    margin-left: 40px;
}
.coluna4{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    background-color: #696666;
    width: 170px;
    height: 35px;
    border-radius: 10px;
}
.Data{
    color: white;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 45px;
    height: 50px;
    background-color: #3F3D3D;
    width: 250px;
    border-radius: 10px;
}
